<% layout('./layouts/boilerplate') -%>
<% block('head').append(`<title>Edit ${campground.title}</title>`) %>

    <h1 class="text-center">Edit Campground</h1>
    <div class="row">
    <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <form aform action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        
        <div class="row mb-3 justify-content-center">
            
            <div class="col-lg-6">
                <label for="title" class="form-label">Campground Name</label>
                <input type="text" class="form-control" id="title" aria-describedby="titleHelp" name="campground[title]" value="<%= campground.title %>" required>
                <div class="valid-feedback">All good!</div>
                <div id="titleHelp" class="invalid-feedback">Please enter a suitable name for your camp.</div>
            </div> 
            <div class="col-lg-6">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    
                <input type="number" name="campground[price]" id="price" step=".01" min=".01" required class="form-control" aria-describedby="priceHelp" value= "<%= campground.price.toFixed(2) %>">
                <div class="valid-feedback">All good!</div>
                <div id="priceHelp" class="invalid-feedback">Please enter a price.</div>
                </div>
                
                
            </div> 
            
        </div>
        <row class="row mb-3">
            <div class="col-lg-6">
                <label for="city" class="form-label">Campground City</label>
                <input type="text" name="campground[location][city]" id="city" required class="form-control" aria-describedby="cityHelp" value="<%= campground.location.city %>">
                <div class="valid-feedback">All good!</div>
                <div id="cityHelp" class="invalid-feedback">Please enter the city your camp is located in.</div>
                
            </div> 
            <state class="col-lg-6">
                <label for="state" class="form-label">Campground State</label>
                <select name="campground[location][state]" id="state" aria-required required class="form-select" aria-describedby="stateHelp">
                    <% const stateNames = [
                    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut',
                    'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
                    'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 
                    'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 
                    'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
                    'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 
                    'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
                ];
                stateNames.forEach(state => { %>
                    <option value="<%= state%>"
                        <%if(state === campground.location.state){%>
                        selected = true
                        <% } %>><%= state%> 
                        </option>
                    <% }) %>
                </select>
                <div class="valid-feedback">All good!</div>
                <div id="stateHelp" class="invalid-feedback">Please select the state your camp is located in.</div>
            </state> 
            
        </row>
        <div class="row mb-3 ">
            <div class="col-lg-6">
                <label for="description" class="form-label">Enter campground description:</label>
                <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="3" aria-placeholder="Enter campground description" placeholder="Enter campground description" required><%=campground.description%></textarea>
                <div class="valid-feedback">All good!</div>
                <div id="imageHelp" class="invalid-feedback">Please enter a description for your camp.</div>
            </div>
            <div class="col-lg-6">
                <label for="image" class="form-label">Add new Images</label>
                <input type="file" class="form-control" name= "image" id="image" aria-describedby="imageHelp" multiple>
                <div class="valid-feedback">All good!</div>
                <div id="imageHelp" class="invalid-feedback"></div>
            </div> 
            
            
        </div>
        <div class="row">
            <label for="">Check to delete images:</label></div>
        <div class="row mb-3 align-items-start">
            <% let i = 0;%>
            <% campground.image.forEach(element => {
                //assumes upload as delivery type + cloudinary
                            let index  = element.url.search(/\/upload\//) + 8;
                            const img = element.url;
                            const imgUrl = img.slice(0, index) + "c_fill,h_100,w_100/" + img.slice(index);
                            
            %>
                <div class="col-lg-3 col-xl-2 col">
                    <input type="checkbox" class="form-check-input" name="images[<%=element.filename%>]">
                    <label for="<%=element.filename%>"><img src="<%=imgUrl%>" alt=""></label>
                </div>
           <% i++}); %>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3">
            <button class="btn btn-success" type="submit">Update Campground</button>
            
            </div>
          
        </div>
        
        <div>
        <a class="btn btn-primary" role="button"href="/campgrounds/<%= campground._id %>">Go Back</a>

    </div>
    </div>
</div>
 