<% layout('./layouts/boilerplate') -%>
<% block('head').append('<title>All Campgrounds</title>') %>

    <h1 class="text-center">All Campgrounds</h1>
    <div class="container-fluid px-3 overflow-hidden">
        <div class="row justify-content-around gy-2 ">
            <% campgrounds.forEach(element => { %>
                <div class="col d-flex justify-content-evenly">
                    <div class="card h-100 " style="width:15rem;">
                        <img src="https://res.cloudinary.com/dxmydkp0v/image/upload/c_fill,h_200,w_238/v1631294769/<%= element.image[0].filename %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= element.title %></h5>
                          <p class="card-text">Location: <%= element.location.city + ", "+ element.location.state %></p>
                          
                        </div>
                        <div class="card-footer">
                            <a href="/campgrounds/<%= element._id %>" class="btn btn-primary position-static bottom-0">Details</a>
                        </div>
                      </div>
                </div>
                <!-- <li>  <a href="/campgrounds/<%= element._id %>"><%= element.title %></a></li> -->
            <% }) %>
            


    </div>
    
    <ul>
        <% campgrounds.forEach(element => { %>
            <li>  <a href="/campgrounds/<%= element._id %>"><%= element.title %></a></li>
        <% }) %>
    </ul>

</html>