<% layout('./layouts/boilerplate') -%>
<% block('head').append(`<title>${campground.title} Details</title>`) %>

    <h1><%= campground.title %></h1>
    <p>Location: <%= campground.location %></p>
    <img class="mh-50 w-50" src="<%= campground.image %>" alt="">
    <p><%= campground.description %> </p>
    <div>
        <a class="btn btn-primary" role="button"href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
    </div>
    <form action ="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit"> Delete Campground</button></form>

</html>